@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;

* {
  font-family: 'Merriweather', serif;
}

body {
  @apply dark:bg-slate-900 m-4;
}

p {
  font-family: sans-serif;
  @apply dark:text-gray-200;
}

a {
  @apply underline;
  @apply dark:text-gray-200;
}

h1 {

  @apply text-4xl;
  @apply dark:text-gray-200;
}

h2 {
  @apply text-2xl;
  @apply dark:text-gray-200;
}

h3 {
  @apply text-xl;
  @apply dark:text-gray-200;
}

section {
  @apply flex flex-col gap-3;
  @apply dark:text-gray-200;
}

hr {
  @apply dark:text-gray-500;
}

li {
  font-family: sans-serif;
  @apply list-disc ml-4;
}

nav span {
  @apply dark:text-gray-500;
}

@tailwind utilities;
